.home-container {
    display: flex;
    flex-direction: column;
    padding: 50px 0 0 0; /* chỉ chừa phần header */
    margin-left: 500px; /* tương ứng với width của Sidebar */
}

.video-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding-right: 20px;
    margin-bottom: 10px;
}

.author-info {
    display: flex;
    align-items: center;
    flex: 1;
}

.author-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 12px;
    cursor: pointer;
    transition: opacity 0.2s ease;
}
.author-avatar:hover {
    opacity: 0.9;
}

.author-meta {
    display: flex;
    flex-direction: column;
}

.author-details {
    display: flex;
    align-items: center;
    gap: 6px;
}

.author-name {
    font-size: 16px;
    font-weight: 700;
    color: #161823;
    margin: 0;
    cursor: pointer;
}
.author-name:hover {
    text-decoration: underline;
}

.author-username {
    font-size: 14px;
    color: #73747a;
}

.video-description {
    font-size: 14px;
    color: #161823;
    line-height: 22px;
}

.video-music {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    color: #161823;
    cursor: pointer;
}
.video-music span:hover {
    text-decoration: underline;
}

.follow-button {
    font-weight: 600;
    font-size: 14px;
    min-width: 88px;
    height: 36px;
    border-radius: 4px;
}

.video-content {
    display: flex;
    align-items: center; /* canh giữa video và khối action theo chiều dọc */
    gap: 20px; /* khoảng cách giữa video và nút */
    padding-left: 60px;
}

.video-wrapper {
    width: 320px;
    height: 520px;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.video-element {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* KHỐI ACTION CHUẨN */
.video-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* khoảng cách giữa các nhóm */
    padding-top: 275px;
}

.like-button,
.comment-button,
.share-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(237, 236, 236, 0.92);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.2s;
}
.like-button:hover,
.comment-button:hover,
.share-button:hover {
    transform: scale(1.05);
}

.like-button.liked .icon-action {
    color: red;
    transform: scale(1.2);
}

.data {
    font-size: 12px;
    color: rgba(75, 73, 73, 0.92);
    text-align: center;
}
